.tabs {
    .tabButtons {
        display: flex;
        border-bottom: solid 1px #ccc;
        margin-bottom: 1rem;

        button {
            padding: 10px;
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;

            &.active {
                border-bottom: solid 1px blue;
                font-weight: strong;
            }
        }
    }

    .tabContent {
        display: none;

        &.active {
            display: flex;
        }
    }
}